.dashboard-container {
  position: relative;
  color: #fff;
  .page-inner-nav {
    margin: 2em 0;
  }
  .job-list {
    h3 {
      font-size: 22px;
    }
  }

  .job-cards {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2em;
    row-gap: 2em;
  }

  .pagination {
    margin: 2em 0;
    ul {
      display: flex;
      justify-content: space-evenly;

      li {
        cursor: pointer;
        background-color: #43afff33;
        border-radius: 5px;

        a {
          padding: 0.7em 1em;
          font-size: 12px;
          display: inline-block;
        }
      }

      .page-selected {
        border: 1px solid #1a253c;
      }
    }
  }

  .post-job-action {
    position: absolute;
    top: 40em;
    left: 40%;

    .post-icon {
      text-align: center;
      svg {
        color: #cecece;
        transform: scale(5);
      }
      margin-bottom: 3em;
    }

    .job-msg {
      font-size: 20px;
      color: #303f60;
    }
  }
}
