.cardOne-container {
  background-color: #fff;
  padding: 2em;

  .card-title {
    color: #43afff;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 1em;
    width: 60%;
  }

  .card-description {
    font-size: 14px;
    color: #303f60;
  }
}
