.login-signup-container {
  height: 100%;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;

    .form-div {
      box-shadow: 4px 4px 25px #557da526;
      border-radius: 20px;
      padding: 2em;
      width: 30em;
      background-color: #fff;

      h3 {
        font-weight: 500;
      }

      .footer {
        text-align: center;
        font-size: 16px;

        .register-link {
          color: #43afff;
        }
      }
    }
  }
}
