.login-btn {
  border: 1px solid #43afff;
  background-color: #43afff33;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  font-size: 0.9rem;
  a {
    padding: 0.7em 1em;
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    display: inline-block;
  }
}
